body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
}

/* Header */

.header,
.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  flex-wrap: wrap;
}

.header img {
  width: 300px;
  height: auto;
  margin-left: -21px;
}

.header ul {
  display: flex;
  gap: 50px;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
}

.header a:hover {
  color:#3882f6;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 25px 0px;
}

/* Hero */

.hero {
  padding: 100px 200px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 75px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0px;
}
.hero p {
  margin-top: 0px;
  margin-bottom: 12px;
  
}

.hero-content {
  width: 50%;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sign-up {
  background-color: #3882f6;
  font-weight: bold;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
}

.sign-up:hover {
  background-color: #e5e7eb;
  color: #3882f6;
}

/* Information section */

.information {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  margin-bottom: 100px;
  padding: 0px 200px;
}

.information h2 {
  margin: 50px 0px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
}

.cards {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  padding: 10px;
}

.cards p {
  margin-top: 15px;
  margin-bottom: 0px;
}

.cards:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Information section | Card IDs */

#git.card-image {
  background: url("https://www.20i.com/blog/wp-content/uploads/2022/08/git-blog-header.png")
    50% 50% no-repeat;
  background-size: 180%;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

#html.card-image {
  background: url("https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-html/sta-je-html.jpg")
    50% 20% no-repeat;
  background-size: 180%;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

#css.card-image {
  background: url("https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-css/sta-je-css.png")
    50% 40% no-repeat;
  background-size: 180%;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

#javascript.card-image {
  background: url("https://www.datocms-assets.com/48401/1627664298-javascript.png?fit=max&w=900")
    50% 50% no-repeat;
  background-size: 230%;
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

/* Quote */

.quote-section {
  background-color: #E5E6EB;
  padding: 100px 24%;
}

#quote-text {
  color: #1F2937;
  font-weight: 300;
  font-size: 30px;
}

#quote-author {
  font-size: 24px;
  text-align: right;
}

/* CTA */
.cta-section {
  display: flex;
  justify-content: center;
}

.cta {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  color: #E5E6EB;
  align-items: center;
  padding: 50px 50px;
  margin: 100px 200px;
  border-radius: 8px;
  width: 50vw;
}

.cta-button {
  background-color: #3882f6;
  border-style: solid;
  border-color: #E5E6EB;
  border-width: 2px;
  color: #E5E6EB;
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 25px;
}

.cta-button:hover {
  background-color: #E5E6EB;
  color: #3882f6;
}

h3 {
  margin: 0px;
}