body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* Header */

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  flex-wrap: wrap;
}

.header img {
  width: 300px;
  height: auto;
  margin-left: -21px;
}

.header ul {
  display: flex;
  gap: 50px;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero */

.hero {
  padding: 0px 200px 50px;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero-content {
    max-width: 50%;
}

.hero img {
    width: 30vw;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    color: #e5e7eb;
}

button:hover {
    background-color: #e5e7eb;
    color: #3882F6;
}